.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary{
    background-color: #242424;
    color: #fff;
    border: 1px solid #fff;
    transition:  all 0.4s ease-in;
}
.btn--outline{
    background-color: transparent;
    color: #00a085;
    border: 2px solid #00a085;
    transition:  all 0.4s ease-in;
}
.btn-medium{
    padding: 8px 12px;
    font-size: 20px;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn--primary:hover {
    background: #fff;
    color: #242424;
}
.btn--outline:hover{
    background-color: #00a085;
    color: #fff;
}