.hero-video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.desc-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    font-family: 'Peddana', serif;
    
    
}


#name{
    font-size: 3rem;
    background-color: #666;
    border-radius: 2px;
    color: #ddd;
    text-align: center;
    margin-bottom: 7%;
   
}
#desc{
    color:#242424;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    padding: 0.2rem;

}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.icon-container a{
    font-size: 1.7rem;
    color: #00ddb8;
    padding: 0.5rem;
    opacity: 0.9;
    transition: all 0.6s ease;
}

.icon-container a:hover{
    font-size: 2.5rem;
    opacity: 1;
}

@media screen and (max-width:960px){
    .desc-container{
        width: 50vw;
    }
}