.works-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem;
    box-shadow: 1px 1px 20px #bbb;
    padding: 5rem;
    background-color: rgb(247, 247, 247);
}
.work-sec{
    flex: 33%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}
.work-icon{
    font-size: 5rem;
    
}
.work-hdr{
    padding: 1rem;

}
.work-text{
    margin-bottom: 1rem;
}

.work-list li{
    padding: 1rem;
}
.research-text a{
    display: block;
    padding: 1rem;
    font-size: 1rem;
}
.research-text{
    color: #242424;
}
.fa.fa-times{
    color: #242424;
}