* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Arial';
    letter-spacing: 1px;
}
.hdr{
    font-family: 'Secular One', sans-serif;
    color: #00ddb8;
}

